

<footer class="footer">
    <div class="container introfooter">
        <div class="row">
            <div class=" col-md-4 lienhe mobifix-footer">
                <h4>Liên hệ qua: 09xxxxxx</h4>
            </div>
            <div class="col-md-4 input-footer mobifix-footer">
                <input type="text" placeholder="Nhập SĐT của bạn">
                <button class="btn btn-success">Gửi Ngay</button>
            </div>
            <div class="col-md-4 text-center mobifix-footer">
                <a href="" class="icon-footer">
                    <img src="/image/Vector.png" />
                </a>
                <a href="" class="icon-footer">
                    <img src="/image/instagram.png" />
                </a>
                <a href="" class="icon-footer">
                    <img src="/image/mail.png" />
                </a>
                <a href="" class="icon-footer">
                    <img src="/image/phone.png" />
                </a>
            </div>
        </div>
    </div>
    <img class="gach-footer" src="/image/Gachfooter.png" alt="">
    <div class="container introfooter-team">
        <div class="row">
            <div class="col-md-4 about-team ">
                <h4>VỀ CHÚNG TÔI</h4>
                <h5>Giới Thiệu Thương Hiệu</h5>
                <h5>Triết lí Thương Hiệu</h5>
                <h5>Lịch sử Thương Hiệu</h5>
                <h5>Nhà sáng lập</h5>
                <h5>Hệ thống Đại Lý</h5>
            </div>
            <div class="col-md-4 about-team">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <h5>Chính sách bảo mật</h5>
                <h5>Chính sách chung </h5>
                <h5>Các hình thức thanh toán</h5>
                <h5>Điều khoản mua hàng </h5>
                <h5>Chính sách vận chuyển</h5>
            </div><div class="col-md-4 about-team">
                <h4>HỆ THỐNG SHOWROOM</h4>
                <h5>Chi nhánh 1: Lorem ipsum dolor sit amet consectetur.</h5>
                <h5>Chi nhánh 2: Lorem ipsum dolor sit amet consectetur.</h5>

            </div>
        </div>
    </div>

    <img class="gach-footer" src="/image/Gachfooter.png" alt="">
    <div class="text-banquyen">
        <h4>
            © Bản quyền thuộc về Lành
        </h4>
    </div>
</footer>