<style>

    .btn {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s, transform 0.5s;
    }


        .btn.bg-success {
            background-color: #28a745;
        }


            .btn.bg-success:hover {
                background-color: #218838;
                transform: scale(1.1);
            }


        .btn.text-white {
            color: #fff;
        }


            .btn.text-white:hover {
                color: #f8f9fa;
            }

    .btn-light {
        background-color: #f8f9fa;
        color: #000000;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-light:hover {
            background-color: #007bff;
            color: #ffffff;
        }
</style>
<footer class="bg-body-tertiary" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4" style="text-align: center;">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form5Example24" class="form-control" placeholder="Please Enter Email" />
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
        <!-- Section: Text -->
        <section class="mb-4 text-center">
            <p class="p-footer" style="font-size: 18px;
    font-family: Bahnschrift;
    color: #417867;">
                Lành Store được thành lập vào 12/2023 với mong muốn đưa đến người dùng những sản phẩm chất lượng và giá thành tốt ngoài ra chúng tôi là đội ngũ kỹ thuật viên chuyên nghiệp phục vụ quý khách tận tâm.
            </p>
        </section>
        <!-- Section: Text -->
        <!-- Section: Links -->
        <section class="text-center">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Thanh Toán</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-body" href="#!">Thanh toán tiền mặt</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Thẻ tín dụng</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Trả góp</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Trao đổi</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Liên hệ</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-body" href="#!">Địa chỉ: Ninh Kieu, Can Tho</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Số điện thoại: +84 364372 560</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Email: Ngovuhuy2016@gmail.com</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Instagram: #huyngo24</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Trợ giúp</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-body" href="#!">Tình trạng đặt hàng</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Vận chuyển</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Trả lại</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Các lựa chọn thanh toán</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Giới thiệu</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-body" href="#!">Thông báo</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">đội ngũ phát triển</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Nhà đầu tư</a>
                        </li>
                        <li>
                            <a class="text-body" href="#!">Thị trường</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">lanhstore.com</a>
    </div>

</footer>

