@page "/changepassword/{userId}"
@using Blazored.LocalStorage
@using Tangy_DataAccess
@inject IOrderSerivce _order
@inject ILocalStorageService _localStorage
@inject IAuthenticationService ChangePasswordService
@inject NavigationManager _navi
<style>
 
    .change-pass{
        padding-top: 48px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  

    .card-title {
        font-weight: 300;
    }

    .btn {
        font-size: 13px;
    }

    .login-form {
        width: 45%;
        margin: 20px;
    }

    .sign-up {
        text-align: center;
        padding: 20px 0 0;
    }

    span {
        font-size: 14px;
    }

    .submit-btn {
        margin-top: 20px;
    }
</style>

<div class="change-pass">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Đổi mật khẩu</h3>

            <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

            <div class="card-text">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Đổi mật khẩu!</strong> Bạn cần phải kiểm tra kĩ các thông tin về đăng nhập.
                    <a class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nhập mật khẩu hiện tại</label>
                    <input type="password" @bind="changePasswordDTO.CurrentPassword" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nhập mật khẩu mới</label>
                    <input type="password" @bind="changePasswordDTO.NewPassword" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nhập lại mật khẩu mới</label>
                    <input type="password" @bind="confirmNewPassword" class="form-control form-control-sm">
                </div>
                <button @onclick="ChangePassword" class="btn btn-primary btn-block submit-btn">Đổi mật khẩu</button>
                @if (!string.IsNullOrEmpty(successMessage))
                {
                    <p style="color: green;">@successMessage</p>
                }
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <p style="color: red;">@errorMessage</p>
                }
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string userId { get; set; }

    private ChangePasswordDTO changePasswordDTO = new ChangePasswordDTO();
    private string confirmNewPassword;
    private string errorMessage;
    private string successMessage;
    private async Task ChangePassword()
    {
        try
        {
            if (changePasswordDTO.NewPassword != confirmNewPassword)
            {
                errorMessage = "Mật khẩu xác nhận không khớp!";
                return;
            }

            var response = await ChangePasswordService.ChangePasswordAsync(changePasswordDTO, userId);

            if (response.IsPasswordChangedSuccessfully)
            {
                // Hiển thị thông báo thành công
                successMessage = "Đổi mật khẩu thành công!";
                StateHasChanged();
                // Chuyển hướng về trang home sau 2 giây
                await Task.Delay(2000);
                _navi.NavigateTo("/");
            }
            else
            {
                // Hiển thị thông báo lỗi
                errorMessage = ("Đổi mật khẩu không thành công");
            }
        }
        catch (Exception ex)
        {
            // Xử lý khi có lỗi xảy ra trong quá trình gọi API
            Console.WriteLine("Lỗi khi gọi API: " + ex.Message);
        }
    }
}
