@page "/changepassword/{userId}"
@using Blazored.LocalStorage
@using Tangy_DataAccess
@inject IOrderSerivce _order
@inject ILocalStorageService _localStorage
@inject IAuthenticationService ChangePasswordService
@inject NavigationManager _navi


<h3>Change Password</h3>

<p>Enter current password:</p>
<input @bind="changePasswordDTO.CurrentPassword" type="password" />

<p>Enter new password:</p>
<input @bind="changePasswordDTO.NewPassword" type="password" />

<p>Confirm new password:</p>
<input @bind="confirmNewPassword" type="password" />

<button @onclick="ChangePassword">Change Password</button>

@if (!string.IsNullOrEmpty(successMessage))
{
    <p style="color: green;">@successMessage</p>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}
@code {
    [Parameter]
    public string userId { get; set; }

    private ChangePasswordDTO changePasswordDTO = new ChangePasswordDTO();
    private string confirmNewPassword;
    private string errorMessage;
    private string successMessage;
    private async Task ChangePassword()
    {
        try
        {
            if (changePasswordDTO.NewPassword != confirmNewPassword)
            {
                errorMessage = "Mật khẩu xác nhận không khớp!";
                return;
            }

            var response = await ChangePasswordService.ChangePasswordAsync(changePasswordDTO, userId);

            if (response.IsPasswordChangedSuccessfully)
            {
                // Hiển thị thông báo thành công
                successMessage = "Đổi mật khẩu thành công!";
                StateHasChanged();
                // Chuyển hướng về trang home sau 2 giây
                await Task.Delay(2000);
                _navi.NavigateTo("/");
            }
            else
            {
                // Hiển thị thông báo lỗi
                errorMessage = ("Đổi mật khẩu không thành công");
            }
        }
        catch (Exception ex)
        {
            // Xử lý khi có lỗi xảy ra trong quá trình gọi API
            Console.WriteLine("Lỗi khi gọi API: " + ex.Message);
        }
    }
}
